/* Frameworks */
nav ul a,
nav .brand-logo {
  color: white;
}

.min-height-400{
  min-height: 400px;
}

/*------------*/
/*Custom personalizada*/
.sect1{
  position: relative;
}

.form-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px 5%;
  width: 100%;
  max-width: 700px;
}

div.custome-title{
  position: relative;
}

div.custome-title h2{
  position: relative;
  display: inline-block;
  padding: 0 5px;
  font-size: 38px;
  color: rgb(58, 58, 58);
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

div.custome-title > div{
  position: absolute;
  top: 60px;
  height: 2px;
  width: 100%;
  background-color: rgb(212, 212, 212);
  z-index: 1;
}


#w50{
  width: 50%;
}

p{
  text-indent: 20px;
}

form#formulario-final{
  border-radius: 20px 0 20px 0;
  padding: 20px 5%;
}

@media screen and (max-width: 598px){
  div.coluna-info{
    height: 170px;
  }
}